// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import './assets/theming.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$docs-samples-peer-client-primary: mat-palette($mat-indigo);
$docs-samples-peer-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$docs-samples-peer-client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$docs-samples-peer-client-theme: mat-light-theme((
  color: (
    primary: $docs-samples-peer-client-primary,
    accent: $docs-samples-peer-client-accent,
    warn: $docs-samples-peer-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include custom-material-theme($docs-samples-peer-client-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
